:root{
    --primary: #0368DA;
    --primary-light: #1176EA;
    --primary-dark: #002855;
    --primary-super-light: #E5F1FF;
    --primary-super-super-light: #F3F9FF;
    --secondary: #FF9800;
    --secondary-light: #FFC773;
    --secondary-super-light: #FFDDAB;
}

body{
    font-family: 'Raleway',sans-serif;
    color: var(--primary-dark);
}

/* TEXT */

.text-h1{
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.text-h2{
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-size: 35px;
}

/* BUTTONS */

.btn.btn-primary{
    background: var(--secondary);
    color: white;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    border-radius: 200px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    outline: none !important;
    border: none !important;
    transition: all .3s;
    padding: 10px 15px;
}
.btn.btn-primary:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
}

/* UTILITIES */
.bg-primary-super-super-light{
    background: var(--primary-super-super-light);
}
.img-hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    transition: all .3s;
    width: 70%;
}
.img-hover:hover{
    transform: scale(1.05);
    z-index: 3;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
}


/* COMPONENTS */
.caja-feature{
    border-radius: 10px;
    background: var(--primary-super-light);
    position: relative;
    padding: 20px;
    font-size: 25px;
}

.caja-feature__number{
    position: absolute;
    background: var(--primary-light);
    color: white;
    font-weight: 700;
    box-shadow: 0 0 20px var(--primary-light);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.custom-card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
}

.custom-input{
    background: var(--primary-super-light);
    color: var(--primary-dark);
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
}

/* SECTIONS */

.header{
    width: 100%;
    height: 700px;
    background: rgba(3,104,218,.8);
    position: relative;
    overflow: hidden;
}

.header__img{
    position: absolute;
    width: 600px;
    z-index: -1;
}

.header__img--columna1{
    animation: move-up 20s infinite linear alternate;
}

.header__img--columna2{
    animation: move-down 20s infinite linear alternate;
}

@keyframes move-up {
    from{
        transform: translateY(100px);
    }
    to {
        transform: translateY(-200px);
    }
}

@keyframes move-down {
    from{
        transform: translateY(-100px);
    }to {
        transform: translateY(200px);
    }
}

.section-video{
    background: white;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    margin-top: -200px;
    padding-top: 200px;
}

/* MEDIA QUERY */
@media (max-width: 575.98px) {
    .header{
        height: 1000px;
    }
    .img-hover{
        width: 100%;
    }
}
